.cover {
  width: calc(100% - 96px);
  margin: 0 auto 92px;

}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 470px) {
  .cover {
    margin-bottom: 64px;
  }
}
