.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 105.55555%;
  max-width: 560px;
  z-index: 2;
  text-align: center;
  margin: 0 0 32px;
  color: #FFFFFF;
  display: flex;
}

@media screen and (max-width: 500px) {
  .cover__title {
    font-size: 12.85vw;
  }
}

@media screen and (max-width: 470px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    max-width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin-top: 33px;
    margin-bottom: 16px;
  }
}
