.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin-bottom: 80px;
  column-gap: 16px;
  row-gap: 48px;
}
.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 27px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 668px) {
  .place {
    column-gap: 16px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    column-gap: 8px;

  }
}
@media screen and (max-width: 470px) {
  .place {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 0;
    margin-bottom: 50px;
  }
}
