.intro__title {
  margin: 0 0 40px;
  font-size: 54px;
  font-weight: 900;
  line-height: 107%;
  display: flex;
}

@media screen and (max-width: 470px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
  }
}
